<h3>Total links: <span>{{projects.length}}</span></h3>
<div class="input-group input-group-lg">
  <span class="input-group-addon"><span class="icon-search"></span> </span>
  <input type="text" data-ng-model="search" class="form-control" placeholder="Search">
</div>

<br/>
<a href="#/new" class="btn btn-primary"><span class="icon-plus-sign"></span> Add New Link</a>
<br/><br/>
<div class="well">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Link</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="project in projects | filter:search | orderBy:'name'">
      <td><a href="{{project.site}}" target="_blank">{{project.name}}</a></td>
      <td data-ng-bind-html="project.description | searchTermHighlight:search"></td>
      <td data-ng-bind-html="project.rating | intToStars" class="nowrap"></td>
      <td>
        <a href="#/edit/{{project.$id}}"><span class="icon-pencil"></span></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>